In [43]:
pip install pillow

Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.12/site-packages (10.3.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
pip install pdfplumber

Requirement already satisfied: pdfplumber in /opt/anaconda3/lib/python3.12/site-packages (0.11.4)
Requirement already satisfied: pdfminer.six==20231228 in /opt/anaconda3/lib/python3.12/site-packages (from pdfplumber) (20231228)
Requirement already satisfied: Pillow>=9.1 in /opt/anaconda3/lib/python3.12/site-packages (from pdfplumber) (10.3.0)
Requirement already satisfied: pypdfium2>=4.18.0 in /opt/anaconda3/lib/python3.12/site-packages (from pdfplumber) (4.30.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from pdfminer.six==20231228->pdfplumber) (2.0.4)
Requirement already satisfied: cryptography>=36.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from pdfminer.six==20231228->pdfplumber) (42.0.5)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.12/site-packages (from cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (1.16.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [45]:
import pdfplumber
import pandas as pd
from PIL import Image

In [73]:
# Ruta del archivo PDF
pdf_path = "/Users/stam/Downloads/Reporte detalle de Grupo 1A11.pdf"

# Cargar el PDF
with pdfplumber.open(pdf_path) as pdf:
    # Seleccionar la primera página
    page = pdf.pages[0]
    
    # Extraer las tablas de la página
    raw_table = page.extract_table()
    
    # Crear un DataFrame a partir de los datos extraídos
    df = pd.DataFrame(raw_table[1:], columns=raw_table[0])

# Mostrar el DataFrame completo
print(df)

Empty DataFrame
Columns: [1, 244020028, BRETON NICASIO DIEGO ALEJANDRO, 6, ORD, ORD, ORD, ORD, ORD, ORD]
Index: []

In [80]:
df.head(6)

Empty DataFrame
Columns: [1, 244020028, BRETON NICASIO DIEGO ALEJANDRO, 6, ORD, ORD, ORD, ORD, ORD, ORD]
Index: []