In [27]:
#pip install pytesseract pillow pandas
#pip3 install pytesseract pillow pandas
#brew install tesseract

In [28]:
import pytesseract
from PIL import Image
import pandas as pd
import re

In [29]:
# Ruta de la imagen subida
image_path = "/Users/stam/Documents/Documents_MacBook_Eduardo/GitHub/python_notes/extracting_tables_from_image_pdf/lista_1A11.png"

# Extraer texto de la imagen usando pytesseract
image = Image.open(image_path)
text = pytesseract.image_to_string(image)

# Mostrar el texto extraído (para referencia)
text

'244020028 = BRETON NICASIO DIEGO ALEJANDRO\n244020007 | CARREON ROSALES MARGARITA\n244020022 + CHAVEZ MARTINEZ JESUS OSIEL\n244020001 | CONTRERAS RAMOS OSCAR ALBERTO\n244020003 ~ DELA GUERRA GUERRERO TANIA ESTEFANNY\n244020018 DIAZ BRIONES BRISA\n\n244020026 DIAZ CRISTOBAL LUIS FERNANDO\n244020021 | DURAN FLORES VALERIA ALEJANDRA\n244020020 ELIZALDE PEREZ ALINA\n\n244020014 GARCIA MOTA ALINE VIOLETA\n\n244020002 GUTIERREZ TAPIA ANDREA ITZEL\n244020025 = HERNANDEZ RAMIREZ JOSE MIGUEL\n244020019 | HERNANDEZ RAMIREZ JUAN DANIEL\n244020027 + JUAREZ CUNA LEONARDO\n\n244020004 = LOPEZ HERNANDEZ RUTH\n\n244020013 = LOPEZ ORTEGA CRISTIAN\n\n244020024 = LORENZO LIRA KATHYA\n\n244020009 | LUNA AMBROSIO KEVIN YAEL\n\n244020010 | MANZANO RAMIREZ DIEGO EMILIO\n244020016 | MATIAS DIONISIO JOSSELINE\n\n244020012 = PANTOJA HERNANDEZ DANIELA SARAHY\n244020030 PEREZ ROCHA KENIA LIZETH\n\n244020006 RIVERA VALENCIA CLAUDIA YADIRA\n244020011 RODRIGUEZ DE PABLO LILIA XIMENA\n244020005 SANCHEZ BARBOSA FRIDA MABEL.\n244020017 = SANCHEZ MUNOZ VALERIA\n\n244020008 | SANTOS TORRES JUAN ALBERTO\n244020023 SIERRA MENDOZA VALENTIN\n\n244020015 VALENCIA ESPINO JETXIA JOCABHET\n244020029 VALLE SOSA ANDREA PAOLA\n'

In [30]:
def separar_matricula_nombre(text):
    """Separa matrículas y nombres de un texto con formato irregular.

    Args:
        texto: Cadena de texto con múltiples líneas de datos.

    Returns:
        Lista de tuplas, donde cada tupla contiene la matrícula y el nombre.
    """

    resultados = []
    for linea in text.splitlines():
        # Eliminar caracteres no deseados
        linea_limpia = re.sub(r"[^\w\s]", "", linea)
        # Dividir la línea por el primer espacio
        partes = linea_limpia.split(" ", 1)
        if len(partes) == 2:
            matricula, nombre = partes
            resultados.append((matricula, nombre))
    return resultados

In [31]:
datos = separar_matricula_nombre(text)
print(datos)

[('244020028', ' BRETON NICASIO DIEGO ALEJANDRO'), ('244020007', ' CARREON ROSALES MARGARITA'), ('244020022', ' CHAVEZ MARTINEZ JESUS OSIEL'), ('244020001', ' CONTRERAS RAMOS OSCAR ALBERTO'), ('244020003', ' DELA GUERRA GUERRERO TANIA ESTEFANNY'), ('244020018', 'DIAZ BRIONES BRISA'), ('244020026', 'DIAZ CRISTOBAL LUIS FERNANDO'), ('244020021', ' DURAN FLORES VALERIA ALEJANDRA'), ('244020020', 'ELIZALDE PEREZ ALINA'), ('244020014', 'GARCIA MOTA ALINE VIOLETA'), ('244020002', 'GUTIERREZ TAPIA ANDREA ITZEL'), ('244020025', ' HERNANDEZ RAMIREZ JOSE MIGUEL'), ('244020019', ' HERNANDEZ RAMIREZ JUAN DANIEL'), ('244020027', ' JUAREZ CUNA LEONARDO'), ('244020004', ' LOPEZ HERNANDEZ RUTH'), ('244020013', ' LOPEZ ORTEGA CRISTIAN'), ('244020024', ' LORENZO LIRA KATHYA'), ('244020009', ' LUNA AMBROSIO KEVIN YAEL'), ('244020010', ' MANZANO RAMIREZ DIEGO EMILIO'), ('244020016', ' MATIAS DIONISIO JOSSELINE'), ('244020012', ' PANTOJA HERNANDEZ DANIELA SARAHY'), ('244020030', 'PEREZ ROCHA KENIA LIZETH'), ('244020006', 'RIVERA VALENCIA CLAUDIA YADIRA'), ('244020011', 'RODRIGUEZ DE PABLO LILIA XIMENA'), ('244020005', 'SANCHEZ BARBOSA FRIDA MABEL'), ('244020017', ' SANCHEZ MUNOZ VALERIA'), ('244020008', ' SANTOS TORRES JUAN ALBERTO'), ('244020023', 'SIERRA MENDOZA VALENTIN'), ('244020015', 'VALENCIA ESPINO JETXIA JOCABHET'), ('244020029', 'VALLE SOSA ANDREA PAOLA')]

In [32]:
matriculas = []
nombres = []

for matricula, nombre in datos:
    matriculas.append(matricula)
    nombres.append(nombre.strip())  # Eliminamos espacios al inicio del nombre

In [33]:
print(nombres)

['BRETON NICASIO DIEGO ALEJANDRO', 'CARREON ROSALES MARGARITA', 'CHAVEZ MARTINEZ JESUS OSIEL', 'CONTRERAS RAMOS OSCAR ALBERTO', 'DELA GUERRA GUERRERO TANIA ESTEFANNY', 'DIAZ BRIONES BRISA', 'DIAZ CRISTOBAL LUIS FERNANDO', 'DURAN FLORES VALERIA ALEJANDRA', 'ELIZALDE PEREZ ALINA', 'GARCIA MOTA ALINE VIOLETA', 'GUTIERREZ TAPIA ANDREA ITZEL', 'HERNANDEZ RAMIREZ JOSE MIGUEL', 'HERNANDEZ RAMIREZ JUAN DANIEL', 'JUAREZ CUNA LEONARDO', 'LOPEZ HERNANDEZ RUTH', 'LOPEZ ORTEGA CRISTIAN', 'LORENZO LIRA KATHYA', 'LUNA AMBROSIO KEVIN YAEL', 'MANZANO RAMIREZ DIEGO EMILIO', 'MATIAS DIONISIO JOSSELINE', 'PANTOJA HERNANDEZ DANIELA SARAHY', 'PEREZ ROCHA KENIA LIZETH', 'RIVERA VALENCIA CLAUDIA YADIRA', 'RODRIGUEZ DE PABLO LILIA XIMENA', 'SANCHEZ BARBOSA FRIDA MABEL', 'SANCHEZ MUNOZ VALERIA', 'SANTOS TORRES JUAN ALBERTO', 'SIERRA MENDOZA VALENTIN', 'VALENCIA ESPINO JETXIA JOCABHET', 'VALLE SOSA ANDREA PAOLA']

In [34]:
print(matriculas)

['244020028', '244020007', '244020022', '244020001', '244020003', '244020018', '244020026', '244020021', '244020020', '244020014', '244020002', '244020025', '244020019', '244020027', '244020004', '244020013', '244020024', '244020009', '244020010', '244020016', '244020012', '244020030', '244020006', '244020011', '244020005', '244020017', '244020008', '244020023', '244020015', '244020029']

In [35]:
# Crear un DataFrame
df_matricula = pd.DataFrame(matriculas, columns=["Matrícula"])
# Mostrar el DataFrame
print(df_matricula)

    Matrícula
0   244020028
1   244020007
2   244020022
3   244020001
4   244020003
5   244020018
6   244020026
7   244020021
8   244020020
9   244020014
10  244020002
11  244020025
12  244020019
13  244020027
14  244020004
15  244020013
16  244020024
17  244020009
18  244020010
19  244020016
20  244020012
21  244020030
22  244020006
23  244020011
24  244020005
25  244020017
26  244020008
27  244020023
28  244020015
29  244020029

In [36]:
# Crear el DataFrame
df_nombres = pd.DataFrame(nombres, columns=["Nombre alumno"])
# Mostrar el DataFrame
print(df_nombres)

                           Nombre alumno
0         BRETON NICASIO DIEGO ALEJANDRO
1              CARREON ROSALES MARGARITA
2            CHAVEZ MARTINEZ JESUS OSIEL
3          CONTRERAS RAMOS OSCAR ALBERTO
4   DELA GUERRA GUERRERO TANIA ESTEFANNY
5                     DIAZ BRIONES BRISA
6           DIAZ CRISTOBAL LUIS FERNANDO
7         DURAN FLORES VALERIA ALEJANDRA
8                   ELIZALDE PEREZ ALINA
9              GARCIA MOTA ALINE VIOLETA
10          GUTIERREZ TAPIA ANDREA ITZEL
11         HERNANDEZ RAMIREZ JOSE MIGUEL
12         HERNANDEZ RAMIREZ JUAN DANIEL
13                  JUAREZ CUNA LEONARDO
14                  LOPEZ HERNANDEZ RUTH
15                 LOPEZ ORTEGA CRISTIAN
16                   LORENZO LIRA KATHYA
17              LUNA AMBROSIO KEVIN YAEL
18          MANZANO RAMIREZ DIEGO EMILIO
19             MATIAS DIONISIO JOSSELINE
20      PANTOJA HERNANDEZ DANIELA SARAHY
21              PEREZ ROCHA KENIA LIZETH
22        RIVERA VALENCIA CLAUDIA YADIRA
23       RODRIGUEZ DE PABLO LILIA XIMENA
24           SANCHEZ BARBOSA FRIDA MABEL
25                 SANCHEZ MUNOZ VALERIA
26            SANTOS TORRES JUAN ALBERTO
27               SIERRA MENDOZA VALENTIN
28       VALENCIA ESPINO JETXIA JOCABHET
29               VALLE SOSA ANDREA PAOLA

In [37]:
df = pd.concat([df_matricula, df_nombres], axis=1)
# Mostrar el DataFrame resultante
print(df)

    Matrícula                         Nombre alumno
0   244020028        BRETON NICASIO DIEGO ALEJANDRO
1   244020007             CARREON ROSALES MARGARITA
2   244020022           CHAVEZ MARTINEZ JESUS OSIEL
3   244020001         CONTRERAS RAMOS OSCAR ALBERTO
4   244020003  DELA GUERRA GUERRERO TANIA ESTEFANNY
5   244020018                    DIAZ BRIONES BRISA
6   244020026          DIAZ CRISTOBAL LUIS FERNANDO
7   244020021        DURAN FLORES VALERIA ALEJANDRA
8   244020020                  ELIZALDE PEREZ ALINA
9   244020014             GARCIA MOTA ALINE VIOLETA
10  244020002          GUTIERREZ TAPIA ANDREA ITZEL
11  244020025         HERNANDEZ RAMIREZ JOSE MIGUEL
12  244020019         HERNANDEZ RAMIREZ JUAN DANIEL
13  244020027                  JUAREZ CUNA LEONARDO
14  244020004                  LOPEZ HERNANDEZ RUTH
15  244020013                 LOPEZ ORTEGA CRISTIAN
16  244020024                   LORENZO LIRA KATHYA
17  244020009              LUNA AMBROSIO KEVIN YAEL
18  244020010          MANZANO RAMIREZ DIEGO EMILIO
19  244020016             MATIAS DIONISIO JOSSELINE
20  244020012      PANTOJA HERNANDEZ DANIELA SARAHY
21  244020030              PEREZ ROCHA KENIA LIZETH
22  244020006        RIVERA VALENCIA CLAUDIA YADIRA
23  244020011       RODRIGUEZ DE PABLO LILIA XIMENA
24  244020005           SANCHEZ BARBOSA FRIDA MABEL
25  244020017                 SANCHEZ MUNOZ VALERIA
26  244020008            SANTOS TORRES JUAN ALBERTO
27  244020023               SIERRA MENDOZA VALENTIN
28  244020015       VALENCIA ESPINO JETXIA JOCABHET
29  244020029               VALLE SOSA ANDREA PAOLA

In [38]:
# Agregar la columna "No." con números consecutivos (1, 2, 3, ...)
df.insert(0, 'No.', range(1, len(df) + 1))
# Mostrar el DataFrame resultante
print(df)

    No.  Matrícula                         Nombre alumno
0     1  244020028        BRETON NICASIO DIEGO ALEJANDRO
1     2  244020007             CARREON ROSALES MARGARITA
2     3  244020022           CHAVEZ MARTINEZ JESUS OSIEL
3     4  244020001         CONTRERAS RAMOS OSCAR ALBERTO
4     5  244020003  DELA GUERRA GUERRERO TANIA ESTEFANNY
5     6  244020018                    DIAZ BRIONES BRISA
6     7  244020026          DIAZ CRISTOBAL LUIS FERNANDO
7     8  244020021        DURAN FLORES VALERIA ALEJANDRA
8     9  244020020                  ELIZALDE PEREZ ALINA
9    10  244020014             GARCIA MOTA ALINE VIOLETA
10   11  244020002          GUTIERREZ TAPIA ANDREA ITZEL
11   12  244020025         HERNANDEZ RAMIREZ JOSE MIGUEL
12   13  244020019         HERNANDEZ RAMIREZ JUAN DANIEL
13   14  244020027                  JUAREZ CUNA LEONARDO
14   15  244020004                  LOPEZ HERNANDEZ RUTH
15   16  244020013                 LOPEZ ORTEGA CRISTIAN
16   17  244020024                   LORENZO LIRA KATHYA
17   18  244020009              LUNA AMBROSIO KEVIN YAEL
18   19  244020010          MANZANO RAMIREZ DIEGO EMILIO
19   20  244020016             MATIAS DIONISIO JOSSELINE
20   21  244020012      PANTOJA HERNANDEZ DANIELA SARAHY
21   22  244020030              PEREZ ROCHA KENIA LIZETH
22   23  244020006        RIVERA VALENCIA CLAUDIA YADIRA
23   24  244020011       RODRIGUEZ DE PABLO LILIA XIMENA
24   25  244020005           SANCHEZ BARBOSA FRIDA MABEL
25   26  244020017                 SANCHEZ MUNOZ VALERIA
26   27  244020008            SANTOS TORRES JUAN ALBERTO
27   28  244020023               SIERRA MENDOZA VALENTIN
28   29  244020015       VALENCIA ESPINO JETXIA JOCABHET
29   30  244020029               VALLE SOSA ANDREA PAOLA

In [39]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('datos_extraidos.csv', index=False)

print("DataFrame guardado en datos_extraidos.csv")

DataFrame guardado en datos_extraidos.csv